.homePage{
  input {
    margin-top:5px;
    max-width: 30%;
  }
  .equilateralTriangle {
  
    img {
      width:200px;
      height:200px;
    }
  }
  .isoscelesTriangle {
  
    img {
      width:200px;
      height:200px;
    }
  }
  .scaleneTriangle {
  
    img {
      width:200px;
      height:200px;
    }
  }
}
